.navTray {
    height: 100%;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0);
    position: absolute;
    top: 40x;
    left: 0;
    width: 100%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    border: solid 1px #c6c6c6;
    background-color: lightseagreen;
  }
  
  .navTrayClose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    background-color: #399997;
  }

  .navTray.open {
    transform: translateX(0);
  }

  
  .navTray.open ul {
    padding: 5px;
    justify-content: start;
  }
  

.navTray ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .navTray li {
    margin: 0.5rem 0;
  }
  
.navTray a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
  }

.navTray a:hover,
.navTray a:active {
    color: #fa923f;
  }