.toolbarContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.toolbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
}
.logo {
    font-weight: 400;
}
.toolbarSpacer {
    flex: 1;
}
.toolbarIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.toolbarLinks {
    display: none;
}

@media (min-width: 769px) {
    .toolbarNav {
        display: none;
    }
    .toolbarIcons {
        display: none;
    }
    .toolbarLinks {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        justify-content: flex-end;
    }
    .toolbarLinks ul {
        display: flex;
        list-style: none;
    }
    .toolbarLinks ul a {
        color: #000;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
}
